/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Element Styles
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h2 {

}

h3 {

}

.projects__tile-image {
  display: block;
  width: 200px;
}
/*--------------------------------------------------------------
Layout / Media Queries
--------------------------------------------------------------*/
