/*--------------------------------------------------------------
CSS Variables
--------------------------------------------------------------*/

:root {
  --red: #f74d5f;
  --orange: #ff9d44;
  --yellow: #FFDD67;
  --yellow-light: #ffe55f;
  --green: #8cd842;
  --green-light: #c5e763;
  --blue: #64B5F6;
  --blue-bright: #40C4FF;
  --blue-aqua: #80DEEA;
  --blue-periwinkle: #536DFE;
  --purple: #7f39fb;
  --purple-light: #cb63e6;
  --pink: #ff5a79;
  --brown: #a78674;
  --gray: #CEDAE6;
  --gray-light: #f5f5f5;
  --gray-blue: #E7F4FF;
  --gray-blue2: #CEDAE6;

  /* --orange: #FC9F5B; */
  /* --orange-light: #FBD1A2; */
  /* --aqua: #7DCFB6; */
  /* --green: #33CA7F; */
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

a {
  text-decoration: none;
}

/*--------------------------------------------------------------
Element Styles
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h2 {

}

h3 {

}

/* Empty row to push down main content */
.navigation {
  background-color: var(--yellow);
  /* order: 1; */ /* Make other grid items order 2, 3, etc */
  /* order: -1; */
  height: 5em; /* Crucial */

  /* Make this element fixed */
  /* position: fixed; */
  /* top: 0;  */ /* Position navbar at top of page */
  /* margin-top: 0; */
  /* width: 100%; */
  /* overflow: hidden; */
}

/* Links in fixed position at top of viewport - overlay */
.navigation__links-container {
  background-color: var(--yellow);
  position: fixed;
  /* top: 0; */ /* Unnecessary perhaps bc parent is grid item */
  margin-top: 0;
  width: 100%;
  /* overflow: hidden; */
  /* z-index: 1; */
  /* height: 5em; */
  margin-block-end: 0;
  /* padding-inline-start: 0px; */
  padding: 1em;
}

.navigation__links-container li {
  list-style-type: none;  
}

.navigation__links-container a {
  /* color: var(--pink); */
  /* color: white; */
  color: black;
  font-weight: bold;
  padding: 0 1em;
}

.welcome {
  /* order: 2; */
  background-color: var(--yellow);
}

.projects {
  /* order: 3; */
  background-color: var(--gray-light);
}

.projects__tile-image {
  display: block;
  width: 200px;
  padding: 1em;
}

.contact {
  /* order: 4; */
  /* background-color: var(--green); */
  /* background-color: var(--green-light); */
  /* background-color: var(--brown); */
  /* background-color: var(--orange); */
  /* background-color: #FFB74D; */
  background-color: var(--gray-blue);
  /* background-color: var(--gray-blue2); */
  /* background-color: var(--gray-light); */

  /* margin-bottom: 3em; */
}

.contact .width-constrain {
  /* padding: 1em 0; */
  margin: 3em auto;
}
.contact__links-container {
  /* margin-bottom: 3em; */
}

.footer {
  /* order: 5; */
  /* background-color: #00e5ff; */
  background-color: var(--blue-bright);
  /* background-color: var(--purple-light); */
  /* background-color: var(--blue-periwinkle); */
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  /* margin-top: 3em; */
  font-weight: bold;
  color: white;
}

/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/

/* ---- Fallback Layout ---- */

/* For widths >= 769px, constrain main content's width */
@media (min-width: 769px) {

	.width-constrain {
    width: 80%; 
    /* Element will be 80% of its parent's width, which is equal to the viewport */
    /* margin: 0 auto;  */
    margin: 3em auto;
    /* Centers element, but not text */
    max-width: 50em; 
    /* On extremely wide viewports, the max width will be 1150px. The resulting width will be 80% of 50em */
  }
}

/* ---- For browsers that support Flexbox ---- */

.navigation__links-container {
  display: flex;
  justify-content: flex-end;
}

/* .contact .width-constrain {
  display: flex;
  flex-direction: column;
  height: 20em;
  justify-content: center;
  align-items: center;
} */

/* ---- For browsers that support Grid ---- */

body {
  display: grid;
  /* grid-template-rows: 100px auto; */
  /* min-height: 100vh; */
}

.navigation {
  /* grid-column: auto; */
}

.navigation__links-container {
  /* grid-column: 1; */
}

/*--------------------------------------------------------------
Media Queries
--------------------------------------------------------------*/

/*
TO DO 
Constrain width with Grid
*/
